.app.light {
  --bg-color: #b1c4b1;
  --inverted-bg-color: #211f1f;

  --primary-color: #191e1f;
  --secondary-color: #20703a;
  --inverted-primary-color: #20703a;
  --inverted-secondary-color: #6cb068;
}