:root {
    --bg-color: #b1c4b1;
    --inverted-bg-color: #211f1f;
    --primary-color: #191e1f;
    --secondary-color: #555755;
    --inverted-primary-color: #20703a;
    --inverted-secondary-color: #6cb068;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
