.app_orange_theme {
    --bg-color: #7d2a2a;
    --inverted-bg-color: #fbf4f4;
    --primary-color: #fbf4f4;
    --secondary-color: #6cb068;
    --inverted-primary-color: #191e1f;
    --inverted-secondary-color: #20703a;
}
